[defaults]
roles_path = entity/roles:team/roles:assignment/roles:project/roles:persona/roles:platformopenshift/roles:cloudoso/roles:cloudaws/roles:plugin-rbac/roles:plugin-vault/roles:plugin-aap/roles:plugin-quay/roles:plugin-iaac/roles
collections_path = ~/.ansible/collections:/usr/share/ansible/collections
